.profile {
  img {
    width: 1em;
    height: 1em;

    border-radius: 50%;

    cursor: pointer;
  }

  div {
    margin-bottom: 0;
  }

  .popover {
    text-align: center;
    z-index: 999;

    position: absolute;
    right: 0;

    img {
      width: 3em;
      height: 3em;
      border-radius: 25%;
      cursor: unset;
    }
  }
}
