<div class="container">
  <div class="box nostyle">
    <h1 [innerHtml]="local.data.profile.creations.title"></h1>
    <p [innerHtml]="local.data.profile.creations.desc"></p>
  </div>

  <section>
    <a class="nostyle" [routerLink]="router.get_url(RouterUrls.recipe_create)">
      <section class="box clickable">
        <h2 [innerHtml]="local.data.profile.creations.new_recipe.title"></h2>
        <p [innerHtml]="local.data.profile.creations.new_recipe.desc"></p>
      </section>
    </a>
  </section>

  <recipes-list [recipes]="recipes"></recipes-list>
</div>
