<ng-template [ngIf]="setup" [ngIfElse]="loading">
  <ng-template [ngIf]="recipe" [ngIfElse]="no_recipe">
    <div class="box nostyle">
      <!-- 
        TOP-TOOLBAR
       -->
      <div class="top toolbar flexbox tiny">
        <div>
          <p
            [innerHtml]="
              local.data.recipe.view.author.replace('%author%', author)
            "
          ></p>
        </div>

        <div>
          <div class="tools flexbox tiny">
            <a
              *ngIf="auth.is_author_or_admin(recipe.author)"
              class="no-style"
              (click)="router.nav_delete(recipe_id)"
            >
              <i class="fas" aria-hidden="true">&#xf2ed;</i>
            </a>

            <a
              *ngIf="auth.is_author_or_admin(recipe.author)"
              class="no-style"
              (click)="router.nav_edit(recipe_id)"
            >
              <i class="fas" aria-hidden="true">&#xf044;</i>
            </a>

            <a class="no-style" (click)="star()">
              <i class="far" aria-hidden="true" *ngIf="!starred">&#xf005;</i>
              <i class="fas" aria-hidden="true" *ngIf="starred">&#xf005;</i>
            </a>

            <a class="no-style" (click)="bookmark()">
              <i class="far" aria-hidden="true" *ngIf="!bookmarked">&#xf02e;</i>
              <i class="fas" aria-hidden="true" *ngIf="bookmarked">&#xf02e;</i>
            </a>
          </div>
        </div>
      </div>

      <!-- 
        RECIPE
       -->
      <article class="recipe">
        <section class="title">
          <h2>{{ recipe.name }}</h2>
          <p>{{ recipe.description }}</p>
        </section>
        <section class="ingredients">
          <h2 [innerHtml]="local.data.recipe.fields.ingredients.label"></h2>
          <p>{{ recipe.ingredients }}</p>
        </section>
        <section class="method">
          <h2 [innerHtml]="local.data.recipe.fields.method.label"></h2>
          <p>{{ recipe.method }}</p>
        </section>
        <section class="notes" *ngIf="recipe.notes">
          <h2 [innerHtml]="local.data.recipe.fields.notes.label"></h2>
          <p>{{ recipe.notes }}</p>
        </section>
      </article>

      <div class="spacer"></div>

      <!-- 
        TOP-TOOLBAR
       -->
      <div class="bottom toolbar flexbox tiny nowrap">
        <p
          id="created"
          [innerHtml]="
            local.data.recipe.view.created.replace('%date%', recipe_date_added)
          "
        ></p>
        <p
          id="edited"
          [innerHtml]="
            local.data.recipe.view.edited.replace('%date%', recipe_date_edited)
          "
        ></p>
      </div>
    </div>
  </ng-template>

  <ng-template #no_recipe>
    <div class="box nostyle">
      <not-found-recipe></not-found-recipe>
    </div>
  </ng-template>
</ng-template>

<ng-template #loading>
  <p>LOADING DATA</p>
</ng-template>
