<div class="form-group box-indent small">
  <!-- 
    WRITE
   -->
  <div class="ingredients flexbox small write" *ngIf="type == 'write'">
    <div class="ingredient" *ngFor="let ing of ingredients; let i = index">
      <div class="write flexbox small">
        <input
          type="text"
          class="form-control ingredient-name"
          [(ngModel)]="ing.name"
          required
          name="ingredient-name"
        />
        <input
          type="number"
          class="form-control ingredient-amount noarrows"
          [(ngModel)]="ing.amount"
          required
          name="ingredient-amount"
        />
        <input
          type="text"
          class="form-control ingredient-unit"
          required
          [(ngModel)]="ing.unit"
          name="ingredient-unit"
        />
        <button
          type="button"
          class="ingredient-delete"
          (click)="delete_ingredient(i)"
        >
          X
        </button>
      </div>
    </div>
    <div>
      <button type="button" id="ingredient-add" (click)="add_ingredient()">
        Add another
      </button>
    </div>
  </div>

  <!-- 
    READ
   -->
  <div class="ingredients flexbox small read" *ngIf="type == 'read'">
    <div class="ingredient" *ngFor="let ing of ingredients; let i = index">
      <div>
        <p>{{ ing.name }}: {{ ing.amount }} {{ ing.unit }}</p>
      </div>
    </div>
  </div>
</div>
