.ingredients {
  align-items: center;

  .ingredient {
    box-sizing: content-box;

    * {
      flex: 1 1 0%;
    }
    #ingredient-name {
    }
    #ingredient-amount {
      min-width: 10%;
    }
    #ingredient-unit {
      min-width: 10%;
    }
    #ingredient-delete {
      flex: 0 0 0%;
    }
  }
}
