.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(0px - var(--unit-tiny));

  & > * {
    margin: 0 var(--unit-tiny);
  }
  & a {
    cursor: pointer;
  }
}

.bottom {
  & #created {
    text-align: left;
  }
  & #edited {
    text-align: right;
  }
}
