<div class="profile">
  <lib-popover [position]="'normal'" [align]="'right'" #pop_profile>
    <div class="pop_btn">
      <div
        *ngIf="auth.loggedIn; else notLoggedIn"
        (click)="pop_profile.toggle()"
      >
        <img
          *ngIf="auth.userPublicData.photoURL; else noProfileImg"
          [src]="auth.userPublicData.photoURL"
          alt="profile"
        />

        <ng-template #noProfileImg>
          <i class="fas clickable" aria-hidden="true">&#xf2bd;</i>
        </ng-template>
      </div>
      <ng-template #notLoggedIn>
        <button
          class="tiny"
          (click)="router.nav_login()"
          [innerHtml]="local.data.auth.buttons.login.login"
        ></button>
      </ng-template>
    </div>

    <div class="pop_cnt">
      <img
        [src]="auth.userPublicData?.photoURL"
        alt="profile"
        *ngIf="auth.userPublicData?.photoURL; else noProfileImg"
      />
      <ng-template #noProfileImg>
        <i class="fas" aria-hidden="true">&#xf2bd;</i>
      </ng-template>
      <h3
        [innerHtml]="
          auth.displayName_or_email
            .replace('.', '&shy;.')
            .replace('@', '&shy;@')
        "
      ></h3>
      <p
        *ngIf="auth.userPublicData?.displayName"
        [innerHtml]="
          auth.userPublicData.email
            .replace('.', '&shy;.')
            .replace('@', '&shy;@')
        "
      ></p>

      <div class="flexbox small resize">
        <button
          (click)="router.nav('settings'); pop_profile.set(false)"
          [innerHtml]="local.data.settings.buttons.settings"
        ></button>
        <button
          (click)="auth.signOut(); pop_profile.set(false)"
          [innerHtml]="local.data.auth.buttons.logout.logout"
        ></button>
      </div>
    </div>
  </lib-popover>
</div>

<!-- 
<div class="profile" (clickOutside)="popover = false">
  <div *ngIf="auth.loggedIn; else notLoggedIn" (click)="popover = !popover">
    <img
      *ngIf="auth.userPublicData.photoURL; else noProfileImg"
      [src]="auth.userPublicData.photoURL"
      alt="profile"
    />

    <ng-template #noProfileImg>
      <i class="fas" aria-hidden="true">&#xf2bd;</i>
    </ng-template>
  </div>
  <ng-template #notLoggedIn>
    <button
      class="tiny"
      (click)="router.nav_login()"
      [innerHtml]="local.data.auth.buttons.login.login"
    ></button>
  </ng-template>

  <div class="popover box blur small" *ngIf="popover">
    <img [src]="auth.userPublicData.photoURL" alt="profile" />
    <h3>{{ auth.displayName_or_email }}</h3>
    <button
      (click)="auth.signOut(); popover = false"
      [innerHtml]="local.data.auth.buttons.logout.logout"
    ></button>
  </div>
</div> 
-->
