<div class="box nostyle">
  <section>
    <h1 [innerHtml]="local.data.settings.title"></h1>
    <p [innerHtml]="local.data.settings.desc"></p>
  </section>

  <section>
    <h2 [innerHtml]="local.data.settings.sections.lang.title"></h2>
    <p [innerHtml]="local.data.settings.sections.lang.desc"></p>

    <!-- 
      LANGUAGE SELECTOR
     -->
    <section>
      <select (change)="change_lang()" [(ngModel)]="lang" name="lang_picker">
        <option value="auto">Auto</option>
        <option *ngFor="let l of local.lang_list" [value]="l">
          {{ local.data.general.lang[l] }}
        </option>
      </select>
    </section>
  </section>

  <section>
    <h2 [innerHtml]="local.data.settings.sections.themes.title"></h2>
    <p [innerHtml]="local.data.settings.sections.themes.desc"></p>

    <div class="flexbox resize equal themes">
      <div
        class="theme flexbox column nospace clickable"
        *ngFor="let theme of ts.themes"
        (click)="ts.switch_theme(theme)"
      >
        <div class="box" [style.background-color]="theme.color"></div>
        <p [innerHtml]="theme.name"></p>
      </div>
    </div>
  </section>
</div>
