<div class="recipe box clickable" (click)="navigate_recipe()">
  <div class="text">
    <h2>{{ recipe.name }}</h2>

    <p>
      {{ recipe.description }}
    </p>
  </div>

  <div class="image">
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3831abec-b498-408b-9a7a-a2589556c6dc/dedjh50-81329778-7020-4831-a001-e236264aadf7.png/v1/fill/w_1280,h_540,q_80,strp/rage_2_weather_ballon_ultrawide_21by9_daytime_by_greencolton_dedjh50-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NDAiLCJwYXRoIjoiXC9mXC8zODMxYWJlYy1iNDk4LTQwOGItOWE3YS1hMjU4OTU1NmM2ZGNcL2RlZGpoNTAtODEzMjk3NzgtNzAyMC00ODMxLWEwMDEtZTIzNjI2NGFhZGY3LnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.5AENkcbwsRxl9ZplgfCmVuty0tps-fkiYxnQZT-u97k"
      (alt)="(recipe.name)"
    />
  </div>
</div>
