<div class="box nostyle" *ngIf="recipe">
  <form #form="ngForm">
    <!-- 
      TITLES DESCRIPTIONS
     -->
    <h1
      *ngIf="type == 'create'"
      [innerHtml]="local.data.recipe.create.title"
    ></h1>
    <p *ngIf="type == 'create'" [innerHtml]="local.data.recipe.create.desc"></p>

    <h1 *ngIf="type == 'edit'" [innerHtml]="local.data.recipe.edit.title"></h1>
    <p *ngIf="type == 'edit'" [innerHtml]="local.data.recipe.edit.desc"></p>

    <h1
      *ngIf="type == 'delete'"
      [innerHtml]="local.data.recipe.delete.title"
    ></h1>
    <p
      *ngIf="type == 'delete'"
      [innerHtml]="
        local.data.recipe.delete.desc.replace(
          '%recipe%',
          recipe.langs[lang].name
        )
      "
    ></p>

    <!-- 
      LANGUAGE SELECTOR
     -->
    <div class="form-group" *ngIf="type != 'delete'">
      <label
        for="lang_picker"
        class="required"
        [innerHtml]="local.data.recipe.fields.language.label"
      ></label>
      <select (change)="change_lang()" [(ngModel)]="lang" name="lang_picker">
        <option *ngFor="let l of local.lang_list" [value]="l">{{ l }}</option>
      </select>
    </div>

    <!-- 
      REQUIRED FIELDS
     -->
    <div class="form-group" *ngIf="type != 'delete'">
      <!-- 
        NAME FIELD 
       -->
      <div class="form-group">
        <label
          for="name"
          class="required"
          [innerHtml]="local.data.recipe.fields.name.label"
        ></label>
        <label
          [hidden]="name.valid || name.untouched"
          class="alert alert-danger"
          for="name"
          [innerHtml]="local.data.recipe.fields.name.error"
        >
        </label>

        <input
          type="text"
          class="form-control"
          id="name"
          [placeholder]="local.data.recipe.fields.name.placeholder"
          required
          [(ngModel)]="recipe.langs[lang].name"
          name="name"
          #name="ngModel"
        />
      </div>

      <!-- 
        DESCRIPTION FIELD 
       -->
      <div class="form-group">
        <label
          for="desciption"
          class="required"
          [innerHtml]="local.data.recipe.fields.description.label"
        ></label>
        <label
          [hidden]="desciption.valid || desciption.untouched"
          class="alert alert-danger"
          for="desciption"
          [innerHtml]="local.data.recipe.fields.description.error"
        >
        </label>

        <textarea
          class="vertical"
          id="desciption"
          [placeholder]="local.data.recipe.fields.description.placeholder"
          required
          [(ngModel)]="recipe.langs[lang].description"
          name="desciption"
          #desciption="ngModel"
        ></textarea>
      </div>

      <!-- 
        INGREDIENTS FIELD 
       -->
      <div class="form-group">
        <label
          for="ingredients"
          class="required"
          [innerHtml]="local.data.recipe.fields.ingredients.label"
        ></label>
        <label
          [hidden]="ingredients.valid || ingredients.untouched"
          class="alert alert-danger"
          for="ingredients"
          [innerHtml]="local.data.recipe.fields.ingredients.error"
        >
        </label>

        <!-- <recipe-ingredient></recipe-ingredient> -->

        <input
          type="text"
          class="form-control"
          id="ingredients"
          [placeholder]="local.data.recipe.fields.ingredients.placeholder"
          required
          [(ngModel)]="recipe.langs[lang].ingredients"
          name="ingredients"
          #ingredients="ngModel"
        />
      </div>

      <!-- 
        METHOD FIELD 
       -->
      <div class="form-group">
        <label
          for="method"
          class="required"
          [innerHtml]="local.data.recipe.fields.method.label"
        ></label>
        <label
          [hidden]="method.valid || method.untouched"
          class="alert alert-danger"
          for="method"
          [innerHtml]="local.data.recipe.fields.method.error"
        >
        </label>

        <textarea
          class="vertical large"
          id="method"
          [placeholder]="local.data.recipe.fields.method.placeholder"
          required
          [(ngModel)]="recipe.langs[lang].method"
          name="method"
          #method="ngModel"
        ></textarea>
      </div>

      <!-- 
        NOTES FIELD 
       -->
      <div class="form-group">
        <label
          for="notes"
          [innerHtml]="local.data.recipe.fields.notes.label"
        ></label>

        <textarea
          class="vertical large"
          id="notes"
          [placeholder]="local.data.recipe.fields.notes.placeholder"
          [(ngModel)]="recipe.langs[lang].notes"
          name="notes"
          #notes="ngModel"
        ></textarea>
      </div>
    </div>

    <!-- 
      SUBMIT BUTTON
     -->
    <div class="form-group">
      <!-- 
        SUBMIT BUTTON
       -->
      <div class="form-group">
        <button
          type="button"
          class="no-stretch"
          (click)="cancel()"
          [innerHtml]="local.data.general.buttons.cancel"
        ></button>

        &nbsp;&nbsp;&nbsp;&nbsp;

        <button
          type="button"
          *ngIf="type == 'create'"
          class="no-stretch"
          (click)="onSubmit(form)"
          [innerHtml]="local.data.recipe.buttons.add"
        ></button>

        <button
          type="button"
          *ngIf="type == 'edit'"
          class="no-stretch"
          (click)="onSubmit(form)"
          [innerHtml]="local.data.recipe.buttons.save"
        ></button>

        <button
          type="button"
          *ngIf="type == 'delete'"
          class="no-stretch"
          (click)="onSubmit(form)"
          [innerHtml]="local.data.recipe.buttons.delete"
        ></button>
      </div>
    </div>
  </form>
</div>
