<div class="menubar">
  <p class="clickable" (click)="router.nav_home()">Recipe4You</p>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <a class="no-style" (click)="router.nav_backward()">
    <i class="fas" aria-hidden="true">&#xf053;</i>
  </a>
  &nbsp;&nbsp;
  <a class="no-style" (click)="router.nav_forward()">
    <i class="fas" aria-hidden="true">&#xf054;</i>
  </a>

  <div class="flex-spacer"></div>

  <a class="no-style" (click)="router.nav_create()">
    <i class="far" aria-hidden="true">&#xf0fe;</i>
  </a>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <div class="profile">
    <auth-profile></auth-profile>
  </div>
</div>
