.menubar {
  padding: var(--unit-auto);
  padding-top: var(--unit-large);
  padding-bottom: var(--unit-small);

  > div {
    font-size: 1.1em;

    padding-inline: var(--unit-small);

    display: flex;
    align-items: center;
    background-color: var(--color-foreground);
    border-radius: 0;

    * {
      margin: 0;
    }
  }
}
