.menubar {
  font-size: 1.1em;

  display: flex;
  align-items: center;
  background-color: var(--color-foreground);
  border-radius: 0;
  padding: var(--unit-large);
  padding-bottom: var(--unit-small);

  * {
    margin: 0;
  }
}
