article {
  & section {
    margin: var(--unit-normal) 0;

    &:first-of-type {
      width: 75%;
      text-align: center;
      margin: 0 auto;

      & h2 {
        font-size: var(--font-size-h1);
      }
    }
  }
}
