@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300");

:root {
  --font-size-h1: 1.5em;
  --font-size-h2: 1.25em;
}

html,
body {
  font-size: calc(1em + 0.25vmin);
  /*  EM are for bottom out (small on small devices) 
      VH Are for growing with device size (large on large devices)
    https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
  */

  color: var(--color-font);
}

* {
  font-family: "Roboto", Times, serif;
  line-height: 1;
}

::selection {
  color: var(--color-selection);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-font-headline);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
