/* VARIABLES */
:root {
  --colors-red: #eb4d4b;
  --colors-light-blue: #426696;

  // IF CHANGED CHANGE IN INDEX.html THEME META TAG AND MANIFEST (BACKGROUND + THEME COLOR)
  --color-background: #6cdbeb;
  --color-selection: #27ae60;

  --bg-glass: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.35)
  );

  --bs-glass: 0.5em 0.5em 20px rgba(122, 122, 122, 0.2);

  --color-font: var(--colors-light-blue);
  --color-font-headline: var(--colors-white);

  --unit-auto: max(calc(1em + 20vmin - 150px), 0px);
  --unit-large: 3rem;
  --unit-normal: 2rem;
  --unit-small: 1rem;
  --unit-tiny: 0.5rem;

  --margin-p: var(--unit-tiny);
}

/* GENERAL */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}
body {
  background-color: var(--color-background);
}
.content {
  margin: var(--unit-auto);
  background: var(--bg-glass);
  box-shadow: var(--bs-glass);
  border-radius: var(--unit-normal);
}

main {
  // padding-top: var(--unit-normal);
  padding-right: max(var(--unit-auto), env(safe-area-inset-right));
  // padding-bottom: max(var(--unit-auto), env(safe-area-inset-bottom));
  padding-bottom: var(--unit-auto);
  padding-left: max(var(--unit-auto), env(safe-area-inset-left));
}

a {
  cursor: pointer;
  color: var(--color-accent);

  &.nostyle {
    text-decoration: none;
  }
}

.clickable {
  cursor: pointer;
}

/* CONTAINER */
.container {
  *:not(:last-child) {
    margin-bottom: var(--margin-p);
  }
}

/* BOX */
.box {
  padding: var(--unit-normal);

  border-radius: var(--unit-normal);

  transition: transform 0.4s;

  &.tiny {
    padding: var(--unit-tiny);
    border-radius: var(--unit-tiny);
  }
  &.small {
    padding: var(--unit-small);
    border-radius: var(--unit-small);
  }
  &.large {
    padding: var(--unit-large);
    border-radius: var(--unit-large);
  }

  &.clickable:hover {
    transform: scale(1.05);
  }
}
.box:not(.nostyle) {
  background: var(--bg-glass);
  box-shadow: var(--bs-glass);
}

.box,
.container {
  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}
.box-indent {
  padding-left: var(--unit-normal);
  padding-right: var(--unit-normal);

  &.tiny {
    padding-left: var(--unit-tiny);
    padding-right: var(--unit-tiny);
  }
  &.small {
    padding-left: var(--unit-small);
    padding-right: var(--unit-small);
  }
  &.large {
    padding-left: var(--unit-large);
    padding-right: var(--unit-large);
  }
}

/* LIST */
ul.nostyle {
  padding-left: 0 !important;
  list-style-type: none;
}

/* BLUR */
.blur {
  backdrop-filter: blur(0.5em);
}

/* FLEX */
.flexbox {
  --unit: var(--unit-normal);
  &.tiny {
    --unit: var(--unit-tiny);
  }
  &.small {
    --unit: var(--unit-small);
  }
  &.normal {
    --unit: var(--unit-normal);
  }
  &.large {
    --unit: var(--unit-large);
  }
  &.auto {
    --unit: var(--unit-auto);
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: calc(0px - var(--unit) / 2) !important;

  > * {
    margin: calc(var(--unit) / 2) !important;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }
}
.no-stretch {
  flex-grow: 0 !important;
  flex-basis: unset !important;
}
.flex-spacer {
  // flex-grow: 1 !important;
  flex: 1 1 0% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.spacer {
  width: 0;
  height: 0;
  margin: var(--unit-small);
}
