/* GENERAL */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}
body {
  background-color: var(--color-background);
}
.content {
  margin: var(--unit-auto);
  background: var(--bg-glass);
  box-shadow: var(--bs-glass);
  border-radius: var(--unit-normal);
}

main {
  padding-right: max(var(--unit-auto), env(safe-area-inset-right));
  padding-bottom: var(--unit-auto);
  padding-left: max(var(--unit-auto), env(safe-area-inset-left));
}
