.linksection {
  justify-content: center !important;

  input {
    flex: 1 1 auto;
  }
}
.sharebuttons {
  justify-content: center !important;
}
.sharebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 3em;
  height: 3em;
}
