<div class="sharebuttons flexbox small">
  <a class="nostyle sharebutton">
    <i class="fas" aria-hidden="true">&#xf14d;</i>
  </a>
  <a class="nostyle sharebutton" [href]="get_url('pinterest')">
    <i class="fab" aria-hidden="true">&#xf231;</i>
  </a>
  <a class="nostyle sharebutton" [href]="get_url('twitter')">
    <i class="fab" aria-hidden="true">&#xf099;</i>
  </a>
  <a class="nostyle sharebutton" [href]="get_url('facebook')">
    <i class="fab" aria-hidden="true">&#xf39e;</i>
  </a>
  <a class="nostyle sharebutton" [href]="get_url('tumblr')">
    <i class="fab" aria-hidden="true">&#xf173;</i>
  </a>
  <a class="nostyle sharebutton" [href]="get_url('linkedin')">
    <i class="fab" aria-hidden="true">&#xf0e1;</i>
  </a>
</div>
